/*Css safe drive*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: rgb(16, 9, 9);
  margin: 0;
}

.images{
  margin-left: 300px;
}
  .images img{
    margin: auto;
    width: 200px;
    height: 300px;
  }

h2{
  text-align: center;
  background-color: #9fa9a3;
  padding: 10px;
}

h6{
  text-align: center;
  background-color: #9fa9a3;
  padding: 10px;
  margin: 0;
}

p{
  text-align: left;
  margin-left: 10px;
}

.roadmapImg{
  display: block;
  margin: auto;
  border: black 5px solid;
}

#saferide {
  background-color: #c5d5c5;
  margin-left: 100px;
  margin-right: 100px;
  border: 3px solid black;
}

#about{
  background-color: #c5d5c5;
  margin-left: 100px;
  margin-right: 100px;
  border: 3px solid black;
}

#how-to-use{
  background-color: #c5d5c5;
  margin-left: 100px;
  margin-right: 100px;
  border: 3px solid black;
}

#roadmap{
  background-color: #c5d5c5;
  margin-left: 100px;
  margin-right: 100px;
  border: 3px solid black;
}

#contact{
  background-color: #c5d5c5;
  margin-left: 100px;
  margin-right: 100px;
  border: 3px solid black;
}
